.home-page .home-page__alignment {
  background-color: rgb(238, 255, 208);
}

.home-page .home-page__container {
  padding: 60px 0px;
}

.home-page .home-page__cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-page .home-page__cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-page .home-page__cards-card1 .card-component-card__icon {
  color: lightblue;
}

.home-page .home-page__cards-card1 .card-component-card__heading {
  color: lightblue;
}

.home-page .home-page__cards-card2 .card-component-card__icon {
  color: pink;
}

.home-page .home-page__cards-card2 .card-component-card__heading {
  color: pink;
}

.home-page .home-page__cards-card3 .card-component-card__icon {
  color: lightgreen;
}

.home-page .home-page__cards-card3 .card-component-card__heading {
  color: lightgreen;
}
